/* Navbar */
#navbar {
  flex-direction: column;
  justify-content: center;
}
#navbar ul {
  padding: 0 0 0.8rem 0;
}
#navbar ul li a {
  margin: 0.5rem;
  padding: 0.5rem 0.1rem;
}
.big-heading {
  font-size: 2.5rem;
}
.m-heading {
  font-size: 1.7rem;
}

/* About */
#what .items {
  flex-flow: column nowrap;
}
#what .container {
  padding: 0.75rem;
}
#what .items .item {
  flex: 1;
  display: flex;
}
#what .items .item {
  text-align: left;
  margin: 0;
}
#what .items .item i {
  align-self: center;
  margin: 0.8rem;
  margin-bottom: 0;
}

/* Team */
#who {
  display: block;
}
#who .who-text {
  width: 90%;
  padding: 0.74rem;
}

/* Contact */
#contact {
  flex-flow: column nowrap;
  justify-content: center;
}
#contact .contact-form,
#contact .map {
  margin: 0;
  padding: 1rem;
  width: 90%;
}
#contact .btn {
  padding: 1rem 2rem;
}
